:global(.vtex-numeric-stepper__input),
:global(.vtex-numeric-stepper__minus-button),
:global(.vtex-numeric-stepper__plus-button) {
  border: 0;
  padding: 0;
  background: #EDF1F4;
  border-radius: 0px;
  outline: none;
}

:global(.vtex-numeric-stepper__input) {
  width: 1.5rem;
  background: #EDF1F4;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  color: #34425E;
}

:global(.vtex-numeric-stepper__minus-button),
:global(.vtex-numeric-stepper__plus-button) {
  width: 2rem!important;
  color: #B7C0D2;
  height: 50px;
}

@media (max-width: 64rem) {  

  :global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
    margin-bottom: 0px;
    background-color: #E8F0F0;
  }
  
}